*
{
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}
header
{
	width: 100%;
}

ul
{
	list-style: none;
	text-decoration: none;
}
.mainul
{
	float:right;
}
.mainul li
{
	display: inline-block;
	padding: 8px;
}
.mainul .signup
{
	background: #4887ef;
	margin-right: 25px;
	padding: 7px, 15px;
	border-radius: 3px;
	font-weight: bold;
}
a
{
	text-decoration: none;
}
.signup a
{
	color: white;
}
a:hover
{
	text-decoration: underline;
}
.signup:hover
{
	box-shadow: 1px 1px 5px #999;
}
.google .googleimg
{
	text-align: center;
	width: 30%;
	display: block;
	margin: 0px auto;
	clear: both;
	padding-top: 90px;
	
}
.search
{
	text-align: center;
	margin-bottom: 200px;
}
#txtsearch
{
	width: 450px;
	line-height: 32px;
	padding: 20px 10px;

}

.search #txtsearch
{
	padding: 0px;
}
#txtsearch:hover
{
	border-color: #e4e4e4;
	padding: 0px;
}
.button
{
	padding-top: 20px;
	text-align: center;
	margin-bottom: 20px;

}
footer
{
	background:#f2f2f2;
	border-top: solid 2px #e4e4e4;
	bottom: 0px;
	position: fixed;
	padding-bottom: 10px;
	width: 100%;
}
footer ul li
{
	display: inline;
	font-size: 16px;
	color: #666666;
	padding: 16px;
}
footer ul
{
	float: left;
	padding: 1px;
}
footer ul a:hover
{
	text-decoration: underline;
}
.fright
{
	float: right;
}
.lang
{
	text-align: center;
}
.button .googlesearch
{
	font-size: 16px;
	letter-spacing: 1px;
}
.button .feelinglucky
{
	font-size: 16px;
	letter-spacing: 1px;
}
.india
{
	margin-left: 20px;
	width: 100%;
}